* {
  scroll-behavior: smooth;
  transition: .5s; }

.header {
  background-image: url("../assets/viajanding.jpg");
  background-size: cover;
  height: 400px; }
  .header__mobileMenu {
    display: none; }
    @media screen and (max-width: 600px) {
      .header__mobileMenu {
        background: white;
        position: absolute;
        width: 100%;
        z-index: 5;
        height: 100vh;
        text-align: end; }
        .header__mobileMenu nav a {
          padding: 20px;
          font-weight: 600;
          font-size: 20px; } }
  .header__viajerosLink {
    text-decoration: none;
    color: black; }
  .header__title {
    position: absolute;
    top: 15%;
    left: 5%; }
    @media screen and (max-width: 500px) {
      .header__title {
        text-align: center; } }
    .header__title h1 {
      margin: 0 !important;
      font-size: 55px; }
    .header__title h2 {
      margin: 0 !important;
      font-size: 21px; }
  .header__containerMenu {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .header__nav {
    align-self: center; }
    .header__nav a {
      text-decoration: none;
      color: black;
      font-weight: 700;
      cursor: pointer;
      margin: 2px 10px; }
    .header__nav a:hover {
      color: blue !important; }
    @media screen and (max-width: 500px) {
      .header__nav {
        display: none; } }
  .header__dropHeader {
    display: none; }
    @media screen and (max-width: 500px) {
      .header__dropHeader {
        display: flex; }
        .header__dropHeader__dropdownMenu {
          background: beige;
          display: flex;
          flex-direction: column; }
        .header__dropHeader__button {
          background: transparent;
          border: none; }
        .header__dropHeader__button:focus {
          outline: none !important; } }

@media screen and (max-width: 500px) {
  .headerIsActive {
    display: block; }
  .headerIsNotActive {
    display: none; }
  .contentIsNotActive {
    display: none; } }

.mainHome {
  margin-top: 250px; }
  .mainHome__suscriptionContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 70px; }
    @media screen and (max-width: 500px) {
      .mainHome__suscriptionContainer {
        margin-top: 35px; } }
    .mainHome__suscriptionContainer__content {
      width: 80%;
      background-color: #2A3251;
      text-align: center; }
      .mainHome__suscriptionContainer__content__button {
        margin-bottom: 25px; }
      .mainHome__suscriptionContainer__content__label {
        padding: 15px; }
        .mainHome__suscriptionContainer__content__label h6 {
          margin: 0;
          font-size: 20px;
          color: white; }
  .mainHome__modal__footer {
    justify-content: space-around !important; }
  .mainHome__modal__formSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .mainHome__modal__formSection legend {
      font-size: 15px; }
    .mainHome__modal__formSection form {
      width: 75%; }
      .mainHome__modal__formSection form input {
        margin: 5px; }
  .mainHome__modal__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .mainHome__modal__text h6 {
      font-size: 13px;
      margin-bottom: 0;
      margin-top: 2px; }
  .mainHome__modal__line {
    border: gray solid 2px;
    width: 25%; }
  .mainHome__modal__header {
    justify-content: center !important; }
  .mainHome__modal__body p {
    font-size: 11px; }
  .mainHome__telegramContainer {
    width: 100%;
    display: flex;
    margin-top: 60px; }
    @media screen and (max-width: 500px) {
      .mainHome__telegramContainer {
        flex-direction: column;
        margin-left: 5px; } }
    .mainHome__telegramContainer__textExplanation {
      width: 50%;
      margin-left: 15px; }
      @media screen and (max-width: 500px) {
        .mainHome__telegramContainer__textExplanation {
          width: 100%;
          margin-left: 5px; } }
    .mainHome__telegramContainer__tgBotonera {
      display: flex;
      flex-wrap: wrap;
      width: 48%;
      margin: 1px 5px 15px 15px; }
      @media screen and (max-width: 500px) {
        .mainHome__telegramContainer__tgBotonera {
          width: 100%;
          margin: 0; } }
      .mainHome__telegramContainer__tgBotonera__sizes {
        width: 215px;
        margin: 10px;
        cursor: pointer;
        border-radius: 3px;
        box-shadow: 2px 2px 2px gray; }
        @media screen and (max-width: 500px) {
          .mainHome__telegramContainer__tgBotonera__sizes {
            width: 150px; } }
      .mainHome__telegramContainer__tgBotonera__sizes:hover {
        background-color: dodgerblue !important; }
      .mainHome__telegramContainer__tgBotonera__panels {
        color: black; }
        @media screen and (max-width: 500px) {
          .mainHome__telegramContainer__tgBotonera__panels h5 {
            font-size: 13px; } }
    .mainHome__telegramContainer__border {
      border-bottom: black 2px solid; }
  .mainHome__cardsContainer {
    position: absolute;
    width: 100%;
    top: 40%; }
    .mainHome__cardsContainer__row {
      display: flex;
      justify-content: space-evenly; }
      .mainHome__cardsContainer__row__firstRowCards {
        height: 150px;
        width: 50%;
        max-width: 500px !important;
        border-radius: 4px;
        box-shadow: 2px 2px 2px grey;
        cursor: pointer; }
        @media screen and (max-width: 975px) {
          .mainHome__cardsContainer__row__firstRowCards {
            width: 35%; } }
        .mainHome__cardsContainer__row__firstRowCards__content {
          height: inherit;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          color: black; }
      .mainHome__cardsContainer__row__secondRowCards {
        height: 150px;
        width: 30%;
        max-width: 450px !important;
        border-radius: 4px;
        box-shadow: 2px 2px 2px grey;
        cursor: pointer; }
        .mainHome__cardsContainer__row__secondRowCards__content {
          height: inherit;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          color: black; }
          @media screen and (max-width: 500px) {
            .mainHome__cardsContainer__row__secondRowCards__content h5 {
              font-size: 15px; } }

.successInput {
  border-color: lightgreen !important; }

.errorInput {
  border-color: red !important; }

.customFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5px; }
  .customFooter__secondRow {
    width: 100%;
    justify-content: space-around;
    display: flex; }
    .customFooter__secondRow__iconsContainer {
      display: flex;
      justify-content: space-around;
      width: 40%;
      align-items: center; }
  .customFooter__logo {
    width: 35%; }
    @media screen and (max-width: 500px) {
      .customFooter__logo {
        width: 50%; } }
  @media screen and (max-width: 500px) {
    .customFooter__email {
      font-size: 14px;
      margin: 0; } }

.voluntariados__mainContainer {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .voluntariados__mainContainer__textContainer {
    text-align: center;
    padding: 10px; }
    @media screen and (max-width: 500px) {
      .voluntariados__mainContainer__textContainer p {
        font-size: 11px; } }
  .voluntariados__mainContainer__bannerFaqs {
    width: 100%;
    display: flex;
    justify-content: center; }
    .voluntariados__mainContainer__bannerFaqs__box {
      padding: 10px;
      width: 80%;
      background-color: #2A3251;
      box-shadow: 0px 3px 3px 2px gray;
      border-radius: 3px;
      height: 100px;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media screen and (max-width: 500px) {
        .voluntariados__mainContainer__bannerFaqs__box {
          height: 75px; } }
      .voluntariados__mainContainer__bannerFaqs__box h2 {
        text-align: center;
        color: blanchedalmond; }
        @media screen and (max-width: 500px) {
          .voluntariados__mainContainer__bannerFaqs__box h2 {
            font-size: 15px;
            margin-top: 15px; } }
  .voluntariados__mainContainer__otherPlatformsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%; }
    .voluntariados__mainContainer__otherPlatformsContainer__otherPlatforms {
      width: 100%;
      justify-content: space-around; }
      .voluntariados__mainContainer__otherPlatformsContainer__otherPlatforms__button {
        margin: 10px;
        border-radius: 7px !important;
        width: 0;
        height: 65px; }
        @media screen and (max-width: 500px) {
          .voluntariados__mainContainer__otherPlatformsContainer__otherPlatforms__button {
            height: 60px; }
            .voluntariados__mainContainer__otherPlatformsContainer__otherPlatforms__button a {
              font-size: 13px; } }
    .voluntariados__mainContainer__otherPlatformsContainer p {
      text-align: center;
      font-size: 11px; }
      @media screen and (max-width: 500px) {
        .voluntariados__mainContainer__otherPlatformsContainer p {
          font-size: 11px; } }
  .voluntariados__mainContainer__mostImportant {
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (max-width: 500px) {
      .voluntariados__mainContainer__mostImportant h5 {
        font-size: 13px; } }
    .voluntariados__mainContainer__mostImportant__boxPromotion {
      width: 80%;
      box-shadow: 0px 3px 3px 2px gray;
      border-radius: 5px;
      text-align: center;
      padding: 7px;
      margin-top: 10px; }
      .voluntariados__mainContainer__mostImportant__boxPromotion h3 {
        font-weight: 700; }
      .voluntariados__mainContainer__mostImportant__boxPromotion p {
        padding: 5px;
        font-size: 13px;
        font-weight: 600; }

.headerVoluntariados {
  text-align: center;
  margin-top: 40px; }
  @media screen and (max-width: 450px) {
    .headerVoluntariados__title {
      font-size: 25px; } }
  @media screen and (max-width: 450px) {
    .headerVoluntariados__subTitles {
      font-size: 13px; } }

.faqsContainer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .faqsContainer__accordeonCards {
    margin: 10px;
    box-shadow: 0px 2px 4px 0px gray; }

.asesoriasMain {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .asesoriasMain__introductionText {
    text-align: center;
    font-size: 13px;
    padding: 10px; }
  .asesoriasMain__plansContainer {
    width: 100%;
    display: inline-flex;
    justify-content: space-around; }
    .asesoriasMain__plansContainer__plan {
      width: 45%; }
      .asesoriasMain__plansContainer__plan__header {
        background-color: #2A3251 !important; }
        .asesoriasMain__plansContainer__plan__header h6 {
          color: white;
          text-align: center; }
        @media screen and (max-width: 500px) {
          .asesoriasMain__plansContainer__plan__header {
            height: 65px; }
            .asesoriasMain__plansContainer__plan__header h6 {
              font-size: 15px; } }
      .asesoriasMain__plansContainer__plan__body {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .asesoriasMain__plansContainer__plan__body h5 {
          font-size: 30px; }
        .asesoriasMain__plansContainer__plan__body p {
          text-align: center;
          font-size: 12px; }
        .asesoriasMain__plansContainer__plan__body a {
          font-style: italic; }
  @media screen and (max-width: 500px) {
    .asesoriasMain__customP {
      font-size: 13px;
      text-align: center; } }
  .asesoriasMain__formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .asesoriasMain__formContainer form {
      width: 80%; }
    .asesoriasMain__formContainer__customInput {
      margin-bottom: 12px; }
    .asesoriasMain__formContainer__customButton {
      background-color: #2A3251 !important; }
  .asesoriasMain__modalContent {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .asesoriasMain__modalContent__body {
      text-align: center;
      padding: 10px; }
      .asesoriasMain__modalContent__body p {
        font-size: 14px; }
      .asesoriasMain__modalContent__body__customCard {
        border-color: #2A3251 !important; }
        .asesoriasMain__modalContent__body__customCard__backgroundHeader {
          background-color: #2A3251 !important; }
          .asesoriasMain__modalContent__body__customCard__backgroundHeader h4, .asesoriasMain__modalContent__body__customCard__backgroundHeader p {
            color: white; }
        @media screen and (max-width: 500px) {
          .asesoriasMain__modalContent__body__customCard__button {
            width: 130px;
            margin: 15px; } }

.workTravelMain {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .workTravelMain__text {
    text-align: center;
    padding: 15px; }
    .workTravelMain__text p {
      font-size: 13px; }
  .workTravelMain__otherDataContainer {
    text-align: center;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px; }
    .workTravelMain__otherDataContainer p, .workTravelMain__otherDataContainer b {
      margin: 0; }
      @media screen and (max-width: 500px) {
        .workTravelMain__otherDataContainer p, .workTravelMain__otherDataContainer b {
          font-size: 13px; } }
    .workTravelMain__otherDataContainer__firstData {
      padding: 5px; }
      @media screen and (max-width: 500px) {
        .workTravelMain__otherDataContainer__firstData p {
          font-size: 13px; } }
    .workTravelMain__otherDataContainer__firstRow__boxOne {
      border: gray 2px solid;
      border-radius: 5px;
      margin: 3px; }
    .workTravelMain__otherDataContainer__secondRow {
      display: inline-flex;
      width: 100%; }
      .workTravelMain__otherDataContainer__secondRow__boxOne {
        border: gray 2px solid;
        border-radius: 5px;
        margin: 3px;
        padding: 5px;
        width: 65%; }
      .workTravelMain__otherDataContainer__secondRow__boxTwo {
        border: gray 2px solid;
        border-radius: 5px;
        margin: 3px;
        padding: 5px;
        width: 40%; }
    .workTravelMain__otherDataContainer__thirdRow {
      padding: 4px;
      border: gray 2px solid;
      border-radius: 5px;
      margin: 3px; }
  .workTravelMain__moreData {
    text-align: center;
    padding: 5px; }
    @media screen and (max-width: 500px) {
      .workTravelMain__moreData p {
        font-size: 13px; } }
  .workTravelMain__boxesContainer {
    text-align: center;
    width: 100%;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px; }
    .workTravelMain__boxesContainer p, .workTravelMain__boxesContainer b {
      margin: 0; }
      @media screen and (max-width: 500px) {
        .workTravelMain__boxesContainer p, .workTravelMain__boxesContainer b {
          font-size: 13px; } }
    .workTravelMain__boxesContainer__firstRow {
      display: inline-flex; }
      .workTravelMain__boxesContainer__firstRow__boxOne {
        border: gray 2px solid;
        border-radius: 5px;
        margin: 3px;
        padding: 10px;
        width: 40%; }
      .workTravelMain__boxesContainer__firstRow__boxTwo {
        border: gray 2px solid;
        border-radius: 5px;
        margin: 3px;
        width: 60%; }
    .workTravelMain__boxesContainer__secondRow {
      border: gray 2px solid;
      border-radius: 5px;
      margin: 3px;
      padding: 5px; }
    .workTravelMain__boxesContainer__thirdRow {
      display: inline-flex; }
      .workTravelMain__boxesContainer__thirdRow__boxOne {
        border: gray 2px solid;
        border-radius: 5px;
        margin: 3px; }
      .workTravelMain__boxesContainer__thirdRow__boxTwo {
        border: gray 2px solid;
        border-radius: 5px;
        margin: 3px; }
    .workTravelMain__boxesContainer__fourthRow {
      border: gray 2px solid;
      border-radius: 5px;
      margin: 3px;
      padding: 5px; }

.workHolidayMain {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .workHolidayMain__extraCardsContainer {
    width: 100%; }
    .workHolidayMain__extraCardsContainer__extraCards {
      display: inline-flex;
      width: inherit; }
      .workHolidayMain__extraCardsContainer__extraCards__card {
        margin: 5px;
        box-shadow: 2px 2px 2px gray;
        display: flex;
        align-items: center;
        width: 80%;
        height: 150px; }
        .workHolidayMain__extraCardsContainer__extraCards__card h6 {
          text-align: center;
          font-size: 20px; }
        @media screen and (max-width: 500px) {
          .workHolidayMain__extraCardsContainer__extraCards__card h6 {
            font-size: 13px;
            text-align: center; } }
  .workHolidayMain__countryButtonsContainer {
    width: 100%;
    display: flex;
    justify-content: center; }
    .workHolidayMain__countryButtonsContainer__buttons {
      display: flex;
      flex-wrap: wrap;
      width: 600px;
      justify-content: center; }
      .workHolidayMain__countryButtonsContainer__buttons__countryButton {
        margin: 5px;
        width: 140px;
        height: 75px; }
        @media screen and (max-width: 450px) {
          .workHolidayMain__countryButtonsContainer__buttons__countryButton {
            width: 125px;
            height: 65px; } }
  .workHolidayMain__textContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .workHolidayMain__textContainer__text {
      width: 90%; }
  .workHolidayMain__titleContainer {
    width: 100%; }
    .workHolidayMain__titleContainer__title {
      display: flex;
      flex-direction: column;
      align-items: center; }

.line {
  border: gray 1px solid;
  width: 25%;
  margin-top: 5px; }

.modalCountry {
  display: flex;
  flex-direction: column; }
  .modalCountry__line {
    border: black 2px solid;
    width: 30%;
    margin-top: 15px;
    border-radius: 20px; }
  .modalCountry__header {
    border-bottom: none !important;
    justify-content: center !important;
    flex-direction: column; }
  .modalCountry__button {
    margin: 5px; }

body {
  margin: 0 !important; }

.barLine {
  border: black 2px solid;
  width: 30%;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px; }

.transparentLink {
  color: white;
  text-decoration: none; }
