.asesoriasMain {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__introductionText {
        text-align: center;
        font-size: 13px;
        padding: 10px;
        @media screen and (min-width: 1000px) {
            font-size: 1.2rem;
        }
    }

    &__plansContainer {
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
        &__plan {
            width: 45%;

            #modalAsRedes {
                cursor: pointer;
                font-weight: 600;
                &:hover {
                    color: $color1;
                }
            }

            #modalAsViajesPer {
                @extend #modalAsRedes;
            }

            &__header {
                background-color: #2A3251 !important;
                 h6 {
                     color: white;
                     text-align: center;
                 }

                 @media screen and (max-width: 500px) {
                    height: 65px;

                    h6 {
                        font-size: 15px;
                    }
                }
            }

            &__body {
                display: flex;
                flex-direction: column;
                align-items: center;

                h5 {
                    font-size: 30px;
                }
                p {
                    text-align: center;
                    font-size: 12px;
                }

                a {
                    font-style: italic;
                }
            }

            @media screen and (max-width: 500px) {
                
            }
        }
    }

    &__customP {
        @media screen and (max-width:500px) {
            font-size: 13px;
            text-align: center;
        }
        a {
            color: $color1;
            &:hover {
                color: rgb(7, 59, 204);
            }
        }
    }
    &__formContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        form {
            width: 80%;
        }

        &__customInput {
            margin-bottom: 12px;
        }

        &__customButton {
            background-color: #2A3251 !important;
        }
    }

    &__modalContent {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__body {
            text-align: center;
            padding: 10px;

            p {
                font-size: 14px;
            }

            a {
                margin: 0rem 1rem;
            }

            &__customCard {
                border-color: #2A3251 !important;

                &__backgroundHeader {
                    background-color: #2A3251 !important;
    
                    h4, p {
                        color: white;
                    }
                }

                &__button {
                    @media screen and (max-width: 500px) {
                        width: 130px;
                        margin: 15px;                           
                    }
                }
            }
        }
    }
}