.mainHome {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__suscriptionContainer {
        display: flex;
        justify-content: center;

        width: 100%;
        margin-top: 70px;

        @media screen and (max-width: 500px) {
            margin-top: 35px;            
        }

        &__content {
            width: 80%;
            background-color: #2A3251;

            text-align: center;

            &__button {
                margin-bottom: 25px;
            }
            
            &__label {
                padding: 15px;
                
                h6 {
                    margin: 0;
                    font-size: 20px;
                    color: white;
                }
            }
        }
    }

    &__modal {

        &__footer {
            justify-content: space-around !important;

            &__transferencia {
                border: 1px solid;
                margin: 10px;
                padding: 10px;
                border-radius: 2px;
            }
        }

        &__boxSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            border: 1px solid;
            margin-top: 15px;
            border-radius: 2px;
        }

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;

            h6 {
                font-size: 13px;
                margin-bottom: 0;
                margin-top: 2px;
            }
        }

        &__line {
            border: gray solid 2px;
            width: 25%;
        }

        &__header {
            justify-content: center !important;
        }

        &__body {
            p {
                font-size: 11px;
            }
        }
    }

    &__telegramContainer {
        width: 95vw;
        display: flex;
        margin-top: 110px;
        @media screen and (min-width: 1000px) {
            margin-top: 15px;
            flex-direction: column;
            align-items: center;
        }
        @media screen and (max-width: 1000px) {
            margin-left: 38px;
            margin-top: 10px;
        }
        @media screen and (max-width: 500px) {
            flex-direction: column;
            margin-left: 5px;
            margin-top: 10px;
        }

        .btn-secondary {
            border-radius: 3px !important;
        }

        h5 {
            @media screen and (max-width: 500px) {
                color: white;
            }
        }

        &__textExplanation {
            width: 50%;
            margin-left: 15px;
            @media screen and (min-width: 1000px) {
                width: 100%;
                
                font-size: 1.3rem;
            }
            @media screen and (max-width: 1000px) {
                width: 100%;
                margin-left: 5px;
                font-size: 1.2rem;
            }
            @media screen and (max-width: 500px) {
                width: 95%;
                padding: 0px 10px;
                font-size: 0.9rem;
            }
        }

        &__tgBotonera {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 1px 5px 15px 15px;
            text-align: center;
            @media screen and (max-width: 1000px) {
                width: 100%;
                margin: 0;
            }
            @media screen and (max-width: 500px) {
                width: 100%;
                margin: 0;
                flex-wrap: nowrap;
            }

            &__sizes {
                width: 215px;
                margin: 10px;

                cursor: pointer;
                border-radius: 3px !important;

                box-shadow: 2px 2px 2px rgb(165, 164, 164);

                @media screen and (max-width: 1000px) {
                    width: 215px;
                }
                @media screen and (max-width: 500px) {
                    width: 150px;
                }
            }

            &__sizes:hover {
                background-color: dodgerblue !important;
            }

            &__panels {
                color: black;

                @media screen and (max-width: 500px) {
                    h5 {
                        font-size: 13px;
                    }
                }   

                a {
                    color: white;
                    &:hover {
                        color: white;
                    }
                }
            }

            .botonera-flex {
                @media screen and (min-width: 1000px) {
                    display: flex;
                    flex-direction: row;
                }
            }
        }

        &__border {
            border-bottom: black 2px solid;
        }
    }

    &__cardsContainer {
        width: 100%;
        text-shadow: 2px 1px 2px grey;
        &__row {
            display: flex;
            justify-content: space-evenly;
            
            &__firstRowCards {
                height: 130px;
                width: 50%;
                max-width: 500px !important;
                border-radius: 4px;
                box-shadow: 2px 2px 2px grey;
                cursor: pointer;

                @media screen and (min-width: 975px) {
                    height: 220px;
                    width: 35%;
                    margin-top: -20px;
                }
                @media screen and (max-width: 975px) {
                    width: 45%;
                    margin-top: -20px;
                    height: 150px;
                }
                @media screen and (max-width: 500px) {
                    height: 110px;
                    width: 40%;
                    margin-top: -15px;
                }

                &:first-child {
                    .card-body {
                        background-image: url("../assets/workingholiday.jpg");
                        background-size: cover;
                        background-position: center;
                    }
                }

                &:nth-child(2) {
                    .card-body {
                        background-image: url("../assets/worktravel.jpg");
                        background-size: cover;
                        background-position: center;
                    }
                }


                &__content {
                    height: inherit;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    border-radius: 4px;
                    color: black;
                }

                a {
                    @media screen and (min-width: 975px) {
                        font-size: 2rem
                    }
                    @media screen and (max-width: 500px) {
                        font-size: 1rem;
                    }
                }
            }

            &__secondRowCards {
                height: 130px;
                width: 30%;

                max-width: 450px !important;
                border-radius: 4px;

                box-shadow: 2px 2px 2px grey;

                cursor: pointer;

                @media screen and (min-width: 975px) {
                    width: 30%;
                    height: 200px;
                }
                @media screen and (max-width: 975px) {
                    width: 30%;
                    height: 150px;
                }
                @media screen and (max-width: 500px) {
                    width: 29%;
                    height: 110px;
                }

                &:first-child {
                    .card-body {
                        background-image: url("../assets/plataformas.jpg");
                        background-size: cover;
                        background-position: center;
                    }
                }

                &:nth-child(2) {
                    .card-body {
                        background-image: url("../assets/seguros.jpg");
                        background-size: cover;
                        background-position: center;
                    }
                }

                &:nth-child(3) {
                    .card-body {
                        background-image: url("../assets/voluntariados.jpg");
                        background-size: cover;
                        background-position: center;
                    }
                }

                &__content {
                    height: inherit;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;

                    color: black;

                    h5 {
                        @media screen and (min-width: 975px) {
                            font-size: 1.8rem
                        }
                        @media screen and (max-width: 500px) {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }

    .index_barLine {
        @media screen and (min-width: 1000px) {
            margin: 1rem 0rem -1rem 0rem;
        }
        @media screen and (max-width: 1000px) {
            margin: 0.5rem 0rem -2rem 0rem;
        }
        @media screen and (max-width: 500px) {
            margin: 1rem 0rem 0rem 0rem;
        }
    }
}

.successInput {
    border-color: lightgreen !important;
}

.errorInput {
    border-color: red !important;
}
