.quienes-somos_main {
    .quienes-somos_section {
        .quienes-somos_subtitulo {
            @media screen and (max-width: 500px) {
                @include titulos;
            }
            @media screen and (min-width: 500px) and (max-width: 1200px) {
                
            }
        }
        .quienes-somos_p1 {
                @media screen and (max-width: 500px) {
                    @include parrafos;
                }
            @media screen and (min-width: 500px) and (max-width: 1200px) {
                
            }
        }
        .quienes-somos_p2 {
            text-align: center;
            font-style: italic;
            @media screen and (max-width: 500px) {
                font-size: 1.2rem;
            }
            @media screen and (min-width: 500px) and (max-width: 1200px) {
                
            }
        }
        #quienes-somos_p2-1 {
            @media screen and (max-width: 500px) {
                font-size: 1.2rem;
                margin: -1.5rem 0rem -0.2rem 0rem;
            }
            @media screen and (min-width: 500px) and (max-width: 1200px) {
                
            }
        }
        .quienes-somos_div-img {
            display: flex;
            justify-content: flex-end;
            .quienes-somos_img {
                @media screen and (max-width: 500px) {
                    padding: 0rem 1rem 1rem 0rem ;
                    height: 10vh;
                }
                @media screen and (min-width: 500px) and (max-width: 1200px) {
                    
                }
            }
        }
    }
    .quienes-somos_barLine {
        display: flex;
        justify-content: center;
        padding-top: 0.5rem;
    }
    .quienes-somos_barLine {
        @media screen and (max-width: 500px) {
            padding: 1rem 0rem;
        }
        @media screen and (min-width: 500px) and (max-width: 1200px) {
            
        }
    }
    #quienes-somos_barLine3 {
        @media screen and (max-width: 500px) {
            padding-bottom: 2rem;
        }
        @media screen and (min-width: 500px) and (max-width: 1200px) {
            
        }
    }
    .embajadores_section {
        .embajadores_titulo {
            text-align: center;
            @media screen and (max-width: 500px) {
                padding: 1rem 0rem;
                @include titulos;
            }
            @media screen and (min-width: 500px) and (max-width: 1200px) {
                
            }
        }
    }
    .embajadores_p {
        a {
            text-decoration: none;
        }
        @media screen and (max-width: 500px) {
            font-size: 1rem;
            padding: 0rem 1.5rem;
        }
        @media screen and (min-width: 500px) and (max-width: 1200px) {
            
        }
    }
    .mainHome__suscriptionContainer {
        @media screen and (max-width: 500px) {
            margin-top: 0.05rem;
            padding-bottom: 1.5rem;
        }
        @media screen and (min-width: 500px) and (max-width: 1200px) {
            
        }
    }
}
.logo-seccion_quienes-somos {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 500px) {
        margin-top: -0.7rem;
    }
    @media screen and (min-width: 500px) and (max-width: 1200px) {
        
    }
    .logo-seccion_quienes-somos {
        @media screen and (max-width: 500px) {
            height: 25vh;
        }
        @media screen and (min-width: 500px) and (max-width: 1200px) {
            
        }
    }
}