.viajeros-main {
    .viajeros_barLine1 {
        @media screen and (min-width: 1000px) {
            margin: 2rem 0rem -1rem 0rem;
        }
        @media screen and (min-width: 500px) and (max-width: 1000px) {
            padding: 1rem 0rem 0rem 0rem;
        }
        @media screen and (max-width: 500px) {
            padding: 1rem 0rem;
        }
    }
    .viajeros_barLine2 {
        @media screen and (min-width: 1000px) {
            margin: 3rem 0rem -1rem 0rem;
        }
        @media screen and (min-width: 500px) and (max-width: 1000px) {
            margin: 2rem 0rem -2rem 0rem;
        }
        @media screen and (max-width: 500px) {
            padding: 1.5rem 0rem 0rem 0rem;
        }
    }
    h2 {
        @media screen and (min-width: 1000px) {
            font-size: 2rem;
            padding: 0rem 0rem 0.5rem 5.5rem;
        }
        @media screen and (min-width: 500px) and (max-width: 1000px) {
            font-size: 1.6rem;
            padding: 0.5rem 0rem 0rem 2.3rem;
        }
        @media screen and (max-width: 500px) {
            font-size: 1.2rem;
            padding-left: 2rem;
            margin-bottom: -0.5rem;
        }
    }
    .cards {
        display: flex;
        justify-content: flex-start;
        @media screen and (min-width: 1000px) {
            padding-left: 2rem;
        }
        @media screen and (min-width: 500px) and (max-width: 1000px) {
            
        }
        @media screen and (max-width: 500px) {
            padding: 1rem 1rem;
        }
        .viajeros-card {
            box-shadow: $box-shadow;
            @media screen and (min-width: 1000px) {
                width: 300px;
                height: 250px;
                margin-left: 50px;
            }
            @media screen and (min-width: 500px) and (max-width: 1000px) {
                width: 10rem;
                height: 10rem;
                margin-left: 20px;
            }
            @media screen and (max-width: 500px) {
                width: 120px;
                height: 90px;                
                margin: 0rem 0.8rem;
            }
            .card-body {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            a {
                text-align: center;
                font-weight: 700;
                text-decoration: none;
                color: black;
                text-shadow: $text-shadow;
                @media screen and (min-width: 1000px) {
                    font-size: 1.6rem;
                }
                @media screen and (min-width: 500px) and (max-width: 1000px) {
                    
                }
                @media screen and (max-width: 500px) {
                    font-size: 0.9rem;
                }
                &:hover {
                    color: $color1;
                }
            }
        }
    }
    .viajeros-america {
        @media screen and (min-width: 1000px) {
            padding: 2rem 0rem 0rem 0rem;
        }
        @media screen and (min-width: 500px) and (max-width: 1000px) {
            
        }
        @media screen and (max-width: 500px) {
            padding-bottom: 1rem;
        }
        #cuba {
            background-image: url("../assets/Viajeros\ En/cuba.png");
            @include viajeros-img;
        }
        #eeuu {
            background-image: url("../assets/Viajeros\ En/eeuu.png");
            @include viajeros-img;
        }
        #colombia {
            background-image: url("../assets/Viajeros\ En/colombia.png");
            @include viajeros-img;
        }
        .viajeros-card {
            box-shadow: $box-shadow;
            @media screen and (min-width: 1000px) {
                width: 350px;
                height: 300px;
                margin-left: 50px;
            }
            @media screen and (min-width: 500px) and (max-width: 1000px) {
                width: 10rem;
                height: 10rem;
                margin-left: 20px;
            }
            @media screen and (max-width: 500px) {
                width: 75px;
                height: 90px;                
                margin: 0rem 0.8rem;
            }
        }
    }
    .viajeros-asia {
        @media screen and (min-width: 1000px) {
            padding: 2rem 0rem 0rem 0rem;
        }
        @media screen and (min-width: 500px) and (max-width: 1000px) {
            
        }
        @media screen and (max-width: 500px) {
            padding-bottom: 1rem;
        }
        #india {
            background-image: url("../assets/Viajeros\ En/india.png");
            @include viajeros-img;
        }
        #tailandia {
            background-image: url("../assets/Viajeros\ En/tailandia.png");
            @include viajeros-img;
        }
        .viajeros-card {
            box-shadow: $box-shadow;
            @media screen and (min-width: 1600px) {
                width: 350px;
                height: 310px;
                margin-left: 50px;
            }
            @media screen and (min-width: 1400px) and (max-width: 1600px) {
                width: 350px;
                height: 310px;
                margin-left: 50px;
            }
            @media screen and (min-width: 1200px) and (max-width: 1400px) {
                width: 315px;
                height: 300px;
                margin-left: 50px;
            }
            @media screen and (min-width: 1000px) and (max-width: 1200px) {
                width: 255px;
                height: 290px;
                margin-left: 50px;
            }
            @media screen and (min-width: 770px) and (max-width: 1000px) {
                width: 10rem;
                height: 10rem;
                margin-left: 20px;
            }
            @media screen and (min-width: 500px) and (max-width: 770px) {
                width: 9.5rem;
                height: 10rem;
                margin-left: 20px;
            }
            @media screen and (max-width: 500px) {
                width: 75px;
                height: 90px;                
                margin: 0rem 0.8rem;
            }
        }
    }
    .viajeros-europa {
        @media screen and (min-width: 1000px) {
            padding: 2rem 0rem 0rem 0rem;
        }
        @media screen and (min-width: 500px) and (max-width: 1000px) {
            
        }
        @media screen and (max-width: 500px) {
            
        }
        .carousel {
            overflow-x: hidden;
            @media screen and (min-width: 1000px) {
            
            }
            @media screen and (min-width: 500px) and (max-width: 1000px) {
                
            }
            @media screen and (max-width: 500px) {
                width: 90vw;
            }
            .carousel-item {
                display: flex;
                flex-direction: row;
                .card {
                    width: 30rem;
                }
            }
        }
    }
}

.logo-seccion_viajeros {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1000px) {
        height: 30vh;
    }
    @media screen and (min-width: 500px) and (max-width: 1000px) {
        margin-top: 0rem ;
        height: 27vh;
    }
    @media screen and (max-width: 500px) {
        margin-top: -0.7rem;
        height: 25vh;
    }
}

.cardsContainer {

    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 105px !important;

    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;

        box-shadow: $box-shadow;

        a {
            text-align: center;
            font-weight: 700;
            text-decoration: none;
            color: black;
            text-shadow: $text-shadow;
            @media screen and (min-width: 1000px) {
                font-size: 1.6rem;
            }
            @media screen and (min-width: 500px) and (max-width: 1000px) {
                
            }
            @media screen and (max-width: 500px) {
                font-size: 0.9rem;
            }
            &:hover {
                color: $color1;
            }
        }

        #belgica {
            background-image: url('../assets/Viajeros\ En/belgica.png');
            @include viajeros-img;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        #espana {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            @include viajeros-img;
            background-image: url('../assets/Viajeros\ En/espana.png');
        }

        #escocia {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            @include viajeros-img;
            background-image: url('../assets/Viajeros\ En/escocia.png');
        }

        #francia {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            @include viajeros-img;
            background-image: url('../assets/Viajeros\ En/francia.png');
        }

        #grecia {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            @include viajeros-img;
            background-image: url('../assets/Viajeros\ En/grecia.png');
        }

        #suiza {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            @include viajeros-img;
            background-image: url('../assets/Viajeros\ En/suiza.png');
        }

        #irlanda {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            @include viajeros-img;
            background-image: url('../assets/Viajeros\ En/irlanda.png');
        }

        #italia {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            @include viajeros-img;
            background-image: url('../assets/Viajeros\ En/italia.png');
        }

        #inglaterra {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            @include viajeros-img;
            background-image: url('../assets/Viajeros\ En/inglaterra.png');
        }

        #holanda {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            @include viajeros-img;
            background-image: url('../assets/Viajeros\ En/paisesbajos.png');
        }

        #republicaCheca {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 100%;
            @include viajeros-img;
            background-image: url('../assets/Viajeros\ En/republicacheca.png');
        }

        @media screen and (min-width: 1600px) {
            min-width: 350px !important;    
            width: 350px;
            height: 310px;
            margin-left: 50px;
            margin-top: 15px;
        }
        @media screen and (min-width: 1400px) and (max-width: 1600px) {
            width: 350px;
            min-width: 350px !important;
            height: 310px;
            margin-left: 50px;
            margin-top: 15px;
        }
        @media screen and (min-width: 1200px) and (max-width: 1400px) {
            min-width: 315px !important;
            width: 315px;
            height: 300px;
            margin-left: 50px;
            margin-top: 15px;
        }
        @media screen and (min-width: 1000px) and (max-width: 1200px) {
            width: 255px;
            min-width: 255px !important;
            height: 290px;
            margin-left: 50px;
            margin-top: 15px;
        }
        @media screen and (min-width: 770px) and (max-width: 1000px) {
            width: 10rem;
            min-width: 10rem !important;
            height: 10rem;
            margin-left: 20px;
            margin-top: 15px;
        }
        @media screen and (min-width: 500px) and (max-width: 770px) {
            width: 9.5rem;
            min-width: 9.5rem !important;
            height: 10rem;
            margin-left: 20px;
        }
        @media screen and (max-width: 500px) {
            width: 75px;
            min-width: 75px !important;
            height: 90px;                
            margin: 0rem 0.8rem;
        }
    }
}