@import './componentes/variables';
@import './componentes/mixins';
@import "home";
@import "footer";
@import "voluntariados";
@import "faqs";
@import "asesorias";
@import "workTravel";
@import "viajeros";
@import "quienes-somos";
@import "seguros";
@import "workHoliday";
@import "plataformas";
@import "blog";
@import "beneficios";
@import "viajero-news";
@import "viajeras";
@import "proximo-destino";
@import "mala-experiencia";
@import "working-holidays-blog";
@import "dinamorock";
@import "header";

body {
    margin: 0 !important;
    font-family: $font2;
    font-weight: 800;
    a {
        text-decoration: none;
        color: black;
        &:hover {
            color: $color1;
        }
    }
}

// Clase global para las barras separadoras. No repetir en otros archivos
.barLine {
    border: black 2px solid;
    background-color: black;
    width: 30%;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.barLine-div {
    display: flex;
    justify-content: center;
}

.transparentLink {
    color: white; //Ojo con esto, aplica a todos los a que tengan esta clase
    text-decoration: none;
}